/MonaBase/tmp
/MonaBase/tmp64
/MonaBase/lib
/MonaCore/tmp
/MonaCore/tmp64
/MonaCore/lib
/MonaServer/logs
/MonaServer/tmp
/MonaServer/tmp64
/MonaServer/debug
/MonaServer/release
/MonaServer/www
/MonaServer/MonaServer
/MonaServer/MonaServer.log/
/MonaTiny/logs
/MonaTiny/tmp
/MonaTiny/tmp64
/MonaTiny/debug
/MonaTiny/release
/MonaTiny/www
/MonaTiny/MonaTiny
/MonaTiny/MonaTiny.log/
/UnitTests/tmp
/UnitTests/tmp64
/UnitTests/debug
/UnitTests/release
/UnitTests/UnitTests
/UnitTests/UnitTests.log/