/MonaBase/tmp
/MonaCore/tmp
/MonaServer/tmp
/MonaTiny/tmp
/UnitTests/tmp
/MonaTiny/debug
/MonaBase/lib
/MonaCore/lib
/MonaTiny/logs
/MonaTiny/MonaTiny
/UnitTests/Debug
/MonaBase/tmp64
/MonaCore/tmp64
/MonaTiny/release
/MonaTiny/tmp64
/UnitTests/tmp64
/UnitTests/release
/MonaTiny/www
